<html>
    <title>
        Auth
    </title>
    <body>
<div class='container'>
    <div class="row text-center">
            <h1> Home Page</h1>
            <div style="width:30%; margin : 30px auto">
                <a href="/login">Login</a>
            </div>
    </div>
</div>